#submit{
    margin: 16px 535px;
}
.container{
    margin-top: 100px;
    background-color: aliceblue;
    border: solid blue;
}
#review{
    font-size: larger;
    font-style: initial;
    background-color: lightpink;
}
#close{
    margin: 10px 1000px;
    background-color: lightsalmon;

}
